body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    text-align: center;
}

button#menuButton {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button#menuButton:hover {
    background-color: #555;
}


#dropdownMenu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    text-align: right;
}

#dropdownMenu a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

#dropdownMenu a:last-child {
    border-bottom: none;
}

#dropdownMenu a:hover {
    background-color: #555;
}


.hidden-section {
    display: none;
    padding: 50px;
    background-color: #e0e0e0;
    text-align: center;
    min-height: 100vh;
}

#skills, #projects, #contact {
    display: none;
}

